# MongoDB connection string
# Local:  mongodb://localhost:27017/budgetflow
# Atlas:  mongodb+srv://<user>:<password>@cluster.mongodb.net/budgetflow
MONGO_URI=mongodb://localhost:27017/budgetflow

# Server port
PORT=5000

# Environment
NODE_ENV=development
